body {
    margin: 60px auto;
    width: 70%;
    color:#ba1f1f;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ba1f1f;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family:'monospace', 'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.5em;
    line-height: 1em;
    color: #333;
    font-family: 'monospace', 'Courier New', Courier;

}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
    border-right: #ba1f1f;

}